@page "/"

@using web.Components.Sections

<PageTitle>Luzes de esperança - Home</PageTitle>

<div className="relative flex flex-col min-h-screen w-full">
    <Header/>
    <Hero />
    <Mission />
    <Web.Components.Sections.Projects />
    <Web.Components.Sections.WhyContribute />
    <Web.Components.Layout.Footer />
</div>