@page "/"

@using web.Components.Sections

<PageTitle>Luzes de esperança - Home</PageTitle>

<div className="relative flex flex-col min-h-screen w-full">
    <Header/>
    <Hero 
        Title="Transformando Vidas com Alegria e Solidariedade" 
        Caption="Construindo um futuro melhor através da sua generosidade. Junte-se a nós nesta missão de amor ao próximo." 
        ImagePath="cover-hero-section.jpeg"
        TextButton="Conheça Nossa História"
        LinkButton="/sobre-nos"/>
    <Mission />
    <Web.Components.Sections.Projects />
    <Web.Components.Sections.WhyContribute />
    <CTA />
    <Web.Components.Layout.Footer />
</div>