@page "/sobre-nos"

@using web.Components.Sections

<PageTitle>Luzes de esperança - Sobre nós</PageTitle>

<div className="relative flex flex-col min-h-screen w-full">
    <Header />
    <Hero Title="Conheça a Luzes de Esperança"
          Caption="Uma organização sem fins lucrativos dedicada a transformar vidas através da solidariedade, acolhimento e amor ao próximo na região de Barueri."
          ImagePath="sobre-nos-hero.jpg"
          TextButton="Conheça a Luzes de esperança" />
    <History />
    <Mission />
    <Web.Components.Sections.HowWeOperate />
    <Web.Components.Layout.Footer />
</div>